# PostgreSQL Client Authentication Configuration File
# This file controls: which hosts are allowed to connect, how clients
# are authenticated, which PostgreSQL user names they can use, which
# databases they can access.

# TYPE  DATABASE        USER            ADDRESS                 METHOD
# "local" is for Unix domain socket connections only
local   all             postgres                                peer
local   all             all                                     md5
# IPv4 local connections:
host    all             all             127.0.0.1/32            md5
# IPv6 local connections:
host    all             all             ::1/128                 md5
# Allow from k3s cluster nodes (using local IPs)
{% for host in (groups['k3s_master'] | union(groups['k3s_worker']) | sort) %}
host    all             all             {{ hostvars[host].local_ip }}/32  md5
{% endfor %}
# Allow from other hosts as needed
host    all             all             0.0.0.0/0               md5
